*{
  font-family:"Montserrat", sans-serif
}
#homepage{
  min-height: 100vh;
  
}
#homepage-header
    {
    background-image: url('../../public/images/cdc-meetup-img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh !important;
    /*height: 100vh;
    max-width: 100vw;*/
    
}
#header-main{
    background-color: rgba(7, 1, 1, 0.6);
    width: 100vw;
    min-height: 100vh !important;
    max-width: 100%;
}
#homepage-header p{
  position: relative;
  top: 20px;
  
}
#homepage-header .navbar {
    background:inherit;
    width: 100%;
    display: block;
    max-width: 100vw;
    
   
}
#homepage-header .navbar a,#homepage-header p,#homepage-header span {
    color: white;
}
#homepage-header h1{
  font-size: 50px;
  
}
#homepage-header .xs-homepage-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    
    text-transform: uppercase;
  }
  #header-col-1{
    position: relative;
    top: 100px !important;
  }
  #homepage-about p{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

  }
  #homepage-about{
    transition-timing-function: ease-in-out;
  }
  #homepage-about p span{
    font-style: italic;
    font-weight: bold;
    

  }
  
 #aboutpage{
  min-height: 100vh !important;
  overflow: hidden !important;
 } 
 #aboutpage p{
  text-align: justify;
 }


 .gallery-img{
  width: 290px;
  height: 260px;
 }
  
  
  
 #aboutpage .navbar,#page-404 .navbar {
  background:rgba(41, 33, 33, 0.9) !important;
    width: 100%;
    display: block;
    max-width: 100vw;
    
    
   
}
.navbar a{
    text-decoration: none;
    
    color:white;
    padding-left: 35px;
    padding-right:15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing:1cm;

    
}
.logo{
    width: 120px;

}
.typing-text{
    /*color: white;
    overflow: hidden;
    border-right: .15em solid orange; /* The typwriter cursor */
    /*white-space: nowrap; /* Keeps the content on a single line */
   /* margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /*letter-spacing: .15em;
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;*/
    

}
#header-col-1{
    position: relative;
    top: 13%;
    
}
 /* page 404*/
 #page-404{
    width: 100vw;
    background-color: rgba(155, 96, 10, 0.6);
    min-height: 100vh;
    max-width: 100vw !important;
    overflow-x: hidden;
 }
 
footer{
  position:relative;
  bottom: 0px !important;
  border: 1px solid sienna;
  background-color: rgba(41, 33, 33, 0.9);
  color: white;
  overflow: hidden;
}

p{
  text-align: justify;
}
a{
  color: inherit;
  text-decoration: none;
}
.btn-signup{
  border: 1px solid white;
  background-color: transparent;
}
.btn-signup:hover{
  color: black;
  border: 2px !important;
  
}
@media screen and (min-width:578px) {
    .navbar a{
        position: relative;
        top: 0.5em;
    }
    #stuborn_links{
    position: relative;
    top: 2.5em;
    
      
    }
    #stuborn_links .link{
      position: relative;
      left: 50% !important;
    }
    .typing-text{
      color: white;
    overflow: hidden;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
    
}


@media screen and (max-width:790px) {
  #homepage-header h1{
    font-size: 2em;
    text-align: center;
    display: none;
    color: white;
  }
  #links-col{
    position: relative;
    bottom: 3em !important;
    
  }
  footer{
    position: relative;
    /*bottom: -32px !important;*/
    overflow: hidden;
   
  }

}
@media screen and (max-width:567px) {
  #links-col{
    
    bottom: 1.5em !important;
    
  }
  #homepage-header
    {
    background-image: url('../../public/images/cdc-meetup-img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh !important;
    min-height: 100vh;
    /*height: 100vh;
    max-width: 100vw;*/
    
  }
  .test p , #span1, #span2{
    /*border-right: .15em solid orange;*/
    font-family: inherit;
    font-size: 32px !important;
    white-space: nowrap;
    overflow: hidden;
    
    
  }

   .test p,#span1{
    width: 70%;
    -webkit-animation: type 2s steps(40, end); 
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    position: relative;
    left: 3%;
   
    
  }
  #span2{
    width: 45%;
    opacity: 0;
   
    -webkit-animation: type2 2s steps(40, end),blink .2s step-end infinite alternate;
    animation: type2 2s steps(20, end), blink .2s step-end infinite alternate;;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
  }
    
  #homepage-header h1{
    font-size: 25px;
  }
  #stuborn_links{
    text-align: center;
   
  }
        
    }
/*p,h1,h2{
    color: white;
}*/


/* animations */



  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
    100% { border: none;}
  }

  @keyframes type {
    0% {
      width: 0;
      border-right: .15em solid orange;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none !important;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
      border-right: .15em solid orange;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none ;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border-right: .15em solid orange;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
      border-right: .15em solid orange;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border-right: .15em solid orange;
    }
  }
  
 
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }